<nav>
  <ul class="pagination">
    <li class="page-item" 
    [ngClass]="{disabled:CurrentPosition===0}"
    (click)="CurrentPosition=CurrentPosition-1">
    <a class="page-link">Prev</a></li>
    <li class="page-item"
     *ngFor="let image of image; let i=index"
     [ngClass]="{active:i===CurrentPosition}">
      <a class="page-link" (click)="CurrentPosition=i">{{i+1}}</a>
    </li>
    <li class="page-item" 
    [ngClass]="{disabled:CurrentPosition===image.length-1}">
    <a class="page-link" (click)="CurrentPosition=CurrentPosition+1">Next</a></li>
  </ul>
</nav>
<div>
  <h2>{{image [CurrentPosition].title}}</h2>
  <img [src]="image [CurrentPosition].url"/>
</div>
